* {
  margin: 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}

main {
  background-image: url(../img/Background.png);
}
.container {
  --bs-gutter-x: 2.5rem !important;
}

.mt-lg-72 {
  margin-top: 48px !important;
}
@media screen and (min-width: 768px) {
  .mt-lg-72 {
    margin-top: 80px !important;
  }
}
@media screen and (min-width: 992px) {
  .mt-lg-72 {
    margin-top: 72px !important;
  }
}

.flex {
  display: flex;
}

.line-height {
  line-height: 0;
}

.margin-top {
  margin-top: 48px !important;
}

.w-320 {
  width: 320px !important;
}

@media screen and (min-width: 0) and (max-width: 992px) {
  .ma {
    margin: auto;
  }
}

.block-5 {
  display: flex;
  flex-direction: column;
  display: flex;
}
@media screen and (min-width: 992px) {
  .block-5 {
    display: flex;
  }
}

.pad {
  padding: 50px;
}

.margin {
  padding-right: 790px;
}
.w-64 {
  width: 64px !important;
  height: 64px !important;
  padding: 0 !important;
}
@media screen and (min-width: 0) and (max-width: 992px) {
  .w-64 {
    width: 40px !important;
    height: 40px !important;
  }
}

.bg-col {
  background: #1DB5BE;
}

.p-112 {
  padding: 50px;
}

.bg-black {
  background-color: black;
}

.w-md {
  width: 278px;
  height: 119px;
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .w-md {
    width: 272px;
    height: 117px;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .w-md {
    width: 448px;
    height: 192px;
  }
}

.p-footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "liga" off;
  color: #D1D5DB;
}

.w-134 {
  width: 134px;
  padding: 16px 0 8px 6px;
}

.width-logo {
  width: 335px;
}
@media screen and (max-width: 768px) {
  .width-logo {
    width: 328px;
  }
}
@media screen and (min-width: 992px) {
  .width-logo {
    width: 540px;
  }
}

.p-45 {
  padding: 2rem !important;
}
.pl-45 {
  padding-left: 2rem !important;
}
.pr-45 {
  padding-right: 2rem !important;
}
.pt-45 {
  padding-top: 2rem !important;
}
.pb-45 {
  padding-bottom: 2rem !important;
}

.m-45 {
  margin: 2rem !important;
}
.ml-45 {
  margin-left: 2rem !important;
}
.mr-45 {
  margin-right: 2rem !important;
}
.mt-45 {
  margin-top: 2rem !important;
}
.mb-45 {
  margin-bottom: 2rem !important;
}

@media screen and (min-width: 992px) {
  .p-lg-45 {
    padding: 2rem !important;
  }
  .pl-lg-45 {
    padding-left: 2rem !important;
  }
  .pr-lg-45 {
    padding-right: 2rem !important;
  }
  .pt-lg-45 {
    padding-top: 2rem !important;
  }
  .pb-lg-45 {
    padding-bottom: 2rem !important;
  }
  .m-lg-45 {
    margin: 2rem !important;
  }
  .ml-lg-45 {
    margin-left: 2rem !important;
  }
  .mr-lg-45 {
    margin-right: 2rem !important;
  }
  .mt-lg-45 {
    margin-top: 2rem !important;
  }
  .mb-lg-45 {
    margin-bottom: 2rem !important;
  }
}
.bg-aqua {
  background-color: #D5FAFC;
  background-image: url(../img/logo\ bg\ big.svg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .bg-aqua {
    background-position: top 30px left 30px;
  }
}
@media screen and (min-width: 992px) {
  .bg-aqua {
    background-position: top 30px left 10px;
    background-size: auto auto;
    background-position: top 30px left 100px;
  }
}

.img-bg::before {
  content: url(../img/logo\ bg-little.svg);
  padding: 0 15px 0 0;
}

.size-h-36 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  font-feature-settings: "liga" off;
  color: #111827;
}
@media screen and (min-width: 768px) {
  .size-h-36 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    font-feature-settings: "liga" off;
    color: #111827;
  }
}
@media screen and (min-width: 992px) {
  .size-h-36 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.025em;
    font-feature-settings: "liga" off;
    color: #111827;
  }
}

.size-p18 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  font-feature-settings: "liga" off;
  color: #374151;
}

.size-h48 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  letter-spacing: -0.025em;
  font-feature-settings: "liga" off;
  color: #111827;
}
@media screen and (min-width: 992px) {
  .size-h48 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.025em;
    font-feature-settings: "liga" off;
    color: #111827;
  }
}

.size-h24 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #111827;
}
@media screen and (min-width: 992px) {
  .size-h24 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-feature-settings: "liga" off;
    color: #111827;
  }
}

.size-p16 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #374151;
}

.size-h30 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  font-feature-settings: "liga" off;
  color: #111827;
}
@media screen and (min-width: 768px) {
  .size-h30 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.025em;
    font-feature-settings: "liga" off;
    color: #111827;
  }
}
@media screen and (min-width: 992px) {
  .size-h30 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    font-feature-settings: "liga" off;
    color: #111827;
  }
}

.size-p16-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #111827;
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  .size-p16-1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: "liga" off;
    color: #111827;
  }
}

.size-h18 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "liga" off;
  color: #111827;
}

.size-p14 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "liga" off;
  color: #6B7280;
}

.size-h30-36 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  font-feature-settings: "liga" off;
  color: #111827;
}
@media screen and (min-width: 768px) {
  .size-h30-36 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.025em;
    font-feature-settings: "liga" off;
    color: #111827;
  }
}
@media screen and (min-width: 992px) {
  .size-h30-36 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    font-feature-settings: "liga" off;
    color: #111827;
  }
}

.size-p14-16 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "liga" off;
  color: #111827;
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  .size-p14-16 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: "liga" off;
    color: #111827;
  }
}

.size-h24-36 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #111827;
}
@media screen and (min-width: 768px) {
  .size-h24-36 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-feature-settings: "liga" off;
    color: #111827;
  }
}
@media screen and (min-width: 992px) {
  .size-h24-36 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.025em;
    font-feature-settings: "liga" off;
    color: #111827;
  }
}

.size-a18 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "liga" off;
  color: #111827;
  text-decoration: none;
}

.size-a18w {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "liga" off;
  color: #D1D5DB;
  text-decoration: none;
}

.size-a16 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #FFFFFF;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */