main{
  background-image: url(../img/Background.png);
  @media screen and (min) {
    
  }
}

.col-h{
 
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 72px;
letter-spacing: -0.025em;
font-feature-settings: 'liga' off;
color: #111827;

}
.col-p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
font-feature-settings: 'liga' off;
color: #374151;

}
.container{
  --bs-gutter-x: 2.5rem !important;
}
.mt-lg-72{
  margin-top: 48px !important;
  @media screen and (min-width: 768px) {
      margin-top: 80px !important;
  }
  @media screen and (min-width: 992px)  {
    margin-top: 72px !important;
  }
}
.block3-h{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #111827;
  padding: 24px 0 8px;

}
.block3-p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
font-feature-settings: 'liga' off;
color: #374151;
}
.block3-h1{
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;
text-align: center;
letter-spacing: -0.025em;
font-feature-settings: 'liga' off;
color: #111827;
margin-top: 96px !important;
@media screen and (min-width: 992px){
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
text-align: center;
letter-spacing: -0.025em;
font-feature-settings: 'liga' off;
color: #111827;

}
}
.block3-p1{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
font-feature-settings: 'liga' off;
color: #111827;
margin-bottom: 64px !important;
}
.flex{
  display: flex;
}
.line-height{
  line-height: 0;
}
.margin-top{
  margin-top: 48px !important;
}
.w-320{
width: 320px !important;
}
.ma{
  @media screen and (min-width:0) and (max-width:992px){
    margin: auto;
  }
    
  
}
.fond-size-h{
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 40px;
font-feature-settings: 'liga' off;
color: #111827;
@media screen and (min-width: 768px) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off;
  color: #111827;
}
@media screen and (min-width: 992px)  {
  ont-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off;
  color: #111827;
  
  
}
}
.fond-size-p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #111827;
  
}
.block-5{
  display: flex;
  flex-direction: column;
   
  display: flex;

@media screen and (min-width: 992px){
display: flex;
}
}
.pad{
  padding: 50px;
}
.f-14{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
font-feature-settings: 'liga' off;
color: #111827;
}
.margin{
  padding-right: 790px;
  @media screen and (min-width: 768px){
  
  }
}
.w-64{
width: 64px !important;
height: 64px !important;
padding: 0 !important;
@media screen and (min-width: 0) and (max-width: 992px) {
  width: 40px !important;
height: 40px !important;
}
}
.bg-col{
  background: #1DB5BE;
 
}
.p-112{
  padding: 50px;    
}
.bg-black{
  background-color: black;
}
.w-md{
  width: 278px;
  height: 119px;
  @media screen and (min-width: 0) and (max-width: 768px){
    width: 272px;
  height: 117px;
  text-align: center;}
  @media screen and (min-width: 992px){
    width: 448px;
    height: 192px;
  }
    
  
  }
.a-footer{
  text-decoration: none;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;

}
.p-footer{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
font-feature-settings: 'liga' off;
color: #D1D5DB;
}
.a-font-size{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: 'liga' off;
  color: #D1D5DB;
  text-decoration: none;
}
.w-134{
width: 134px;
padding: 16px 0 8px 6px;
}
